[account]
redirect = "Home"
paramCode = "code"
forceSecure = 0
==

<div class="headernav">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-10">
                <div class="site-branding text-center">
                    <a href="{{ url('/') }}" class="custom-logo-link" rel="home">
                        <img src="{{'assets/images/logo.png'|theme}}" class="custom-logo" alt="" style="width: 116px;">
                    </a>                                
                    <h1 class="site-title"><a href="" rel="home"></a></h1>
                    <p class="site-description">Вместе мы сила</p>
                </div> 
            </div>
            <div class="col-lg-4 search col-md-3">
                <a href="{{ url('/') }}/fonds" class="btn btn-success"><i class="fa fa-gift" ></i> Фонды</a>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
                <div class="stnt pull-left">                            
                    <form action="{{ url('/') }}/new-topic" method="post" class="form">
                        <button class="btn btn-primary"><i class="fa fa-plus" ></i> Начать новую тему</button>
                    </form>
                </div>
               
                <div class="env pull-left"><i class="fa fa-envelope"></i></div>

                <div class="avatar pull-left dropdown">
                    <a data-toggle="dropdown" href="#">
                        {% if user.avatar.path %}
                            <img alt="{{user.name}}" class="img-circle profile_img" src="{{ user.avatar.path }}" />
                        {% else %}
                            <img alt="" class="img-circle profile_img" src="{{'assets/images/default.jpg'|theme}}" />
                        {% endif %}
                      
                    </a> <b class="caret"></b>
                     {% if user %}
                    <div class="status green">&nbsp;</div>
                    {% endif %}
                    <ul class="dropdown-menu" role="menu">
                        {% if user %}
                             <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{{ url('/') }}/profile">
                                    <span>Добро пожаловать, {{ user.name}}!</span>
                                </a>
                             </li>
                             <br>
                              <li role="presentation">
                                <a role="menuitem" tabindex="-3" data-request="onLogout" data-request-data="redirect: '/'">
                                <i class="fa fa-sign-out"></i> Выйти </a>
                              </li>
                        {% else %}
                            <li role="presentation"><a role="menuitem" tabindex="-4" href="{{ url('/') }}/login"><i class="fa fa-sign-in"></i> Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                           
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

