title = "Добро"
url = "/"
layout = "default"
==
<?php
   use Elaman\Dobro\Models\Post;
   use Elaman\Dobro\Models\PostCategory;
       
   function onStart(){
       $this['posts'] = Post::orderBy('created_at', 'desc')->paginate(10);
       $this['categories'] = PostCategory::get();
   }

?>
==
<script type="text/javascript">
  
  function upVote(post_id){
    console.log("Post id ", post_id);
    swal({
      title: "Вы уверены?",
      text: "Вы собираетесь поднять голос!",
      type: "info",
      showCancelButton: true,
      confirmButtonClass: "btn-success",
      confirmButtonText: "Да",
      closeOnConfirm: false
    },
    function(){
        
        $.post("post/upvote-post",
          {
            post_id: post_id
          },
          function(data, status){
                if(status == "success"){
                  swal("Успешно", "Upvote", "success");
                  location.reload();
                  //window.location.href = "/medicine";
                }
                else{
                  swal("Cancelled", "Something Bad!", "error");
                  location.reload();
                  //window.location.href = "/medicine";
                }
          });
    });
  }

</script> 

{% flash %}
    <div class="mg_comment_message" style="float: left;width: 100%;margin:0 0 30px; ">
      <div class="alert alert-{{ type }}">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ message }}
      </div>
    </div> 
 {% endflash %}
 
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            {% for post in posts %}
                <!-- POST -->
                <div class="post">
                    <div class="wrap-ut pull-left">
                        <div class="userinfo pull-left">
                           
                            <div class="name pb10"><i class="fa fa-user"></i> : {{post.author}} </div>
                            <div class="address pb10"><i class="fa fa-map-marker"></i> : {{post.address}}</div>
                            <div class="phone pb10"><i class="fa fa-phone"></i>: <a href="tel:{{post.phone}}"> {{post.phone}}</a></div>
                        </div>
                        <div class="posttext pull-right">
                            <h2>
                                <a href="{{ url('/') }}/post/{{post.id}}">{{post.title}} 
                                    {% if post.approved %}
                                        <i class="fa fa-check-circle approved" title="Фонд: {{post.user.name}}"></i>
                                    {% endif %}
                                </a>
                            </h2>
                            <p>{{post.content|raw}}</p>
                           
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="postinfo pull-left">
                        <div class="comments">
                            <div class="commentbg">
                                {{post.getCommentCount}}
                                <div class="mark"></div>
                            </div>

                        </div>
                        <div class="views"><i class="fa fa-eye"></i> {{post.view_count}}</div>
                        <div class="time"><i class="fa fa-clock-o"></i> {{post.created_at|time_diff}}</div>                                    
                    </div>
                    <div class="postinfobot">

                        <div class="likeblock pull-left">
                            <button class="up" onclick="upVote('{{post.id}}')" title="Up Vote"><i class="fa fa-thumbs-o-up"></i>{{post.upvote_count}}</button>
                        </div>
                        <div class="posted pull-left">
                            <i class="fa fa-list-alt"></i> {{post.getCategoryTitle}}
                        </div>
                        <div class="gift pull-left"><i class="fa fa-gift"></i> {{post.user.name}}</div>
                        <div class="next pull-right">   
                            <!-- Your share button code -->
                            <div class="fb-share-button" 
                              data-href="https://dobro.kundoluk.kg/post/{{post.id}}" 
                              data-layout="button_count">
                            </div>                                     
                            <!-- <a href="#" class="sharer facebook" data-sharer="facebook" data-url="https://dobro.kundoluk.kg/{{post.id}}"> 
                                <i class="fa fa-facebook-square " ></i>
                            </a> -->
                            <a href="#" class="sharer whatsapp" data-sharer="whatsapp" data-url="https://dobro.kundoluk.kg/post/{{post.id}}"> 
                                <i class="fa fa-whatsapp" ></i>
                            </a>
                        
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div><!-- POST -->
            {% else %}
                   <!-- POST -->
                    <div class="post">
                        <div class="wrap-ut pull-left">
                            <div class="userinfo pull-left">
                                <div class="avatar">
                                    <div class="status green">&nbsp;</div>
                                </div>

                                <div class="icons">
                                    <img src="images/icon1.jpg" alt="" /><img src="images/icon4.jpg" alt="" />
                                </div>
                            </div>
                            <div class="posttext pull-left">
                                <h2><a href="02_topic.html">10 Kids Unaware of Their Halloween Costume</a></h2>
                                <p>It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div><!-- POST -->
            {% endfor %}

        </div>
        <div class="col-lg-4 col-md-4">

            <!-- -->
            <div class="sidebarblock">
                <h3>Категориялар</h3>
                <div class="divline"></div>
                <div class="blocktxt">
                    <ul class="cats">
                        {% for category in categories %}
                            <li><a href="{{ url('/') }}/category-posts/{{category.id}}">{{ category.title}} <span class="badge pull-right">{{category.getPostCount}}</span></a></li>
                        {% endfor %}
                    
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin:20px 0;">
              Записи с {{ posts.currentPage  }} до {{ posts.count * posts.currentPage }} из {{ posts.total }} записей
        </div>
          <div class="col-md-6">
                {{ posts.render|raw }}
          </div>
    </div>
</div>

