description = "Default layout"

[session]
security = "all"
==
<?php 


    function onLogout()
    {
       

        $this->session->onLogout();

        return Redirect::to("/");
    }     
?>
==
<!DOCTYPE html>
<html>
    
    <head>
        {% partial 'meta' %}
    </head>
    <body>
            
        
        <div class="mt-header-ed header-above">
          <div class="container">
          
           <div class="row">
           
            <div class="col-lg-6 col-xl-6 col-md-12 col-12">            
            
             #КүчБирдикте    
            </div>
            
                 <div class="col-lg-6 col-xl-6 col-md-12 col-12">
          
              #СилаВЕдинстве  
             </div>                        
               </div>
          
          </div>
        </div>
        <!-- Slider -->
        <!-- <div class="tp-banner-container">
            <div class="tp-banner" >
              
                <a href="{{ url('/') }}"><img src="{{'assets/images/slide.jpg'|theme}}"  alt="slidebg1"  class="img-responsive" style="width: 100%;"></a>
                <div class="centered"><h1>Вместе Мы Сила</h1></div> 

            </div>

        </div> -->
        <!-- //Slider -->

        
        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section class="content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

        <!-- core JS -->
        <script src="{{ [
          'assets/js/jquery.js',
          'assets/rs-plugin/js/jquery.themepunch.plugins.min.js',
          'assets/rs-plugin/js/jquery.themepunch.revolution.min.js',
          'assets/js/bootstrap.min.js',
          'assets/js/sharer.js',
          'assets/sweetalert/sweetalert.min.js'

        ] |theme }}"></script>
        {% framework extras %}
        {% scripts %}

        

     

    </body>
</html>
