description = "Login layout"

[session]
security = "all"
==

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="{{'assets/favicons/apple-touch-icon.png'|theme}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{'assets/favicons/favicon-32x32.png'|theme}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{'assets/favicons/favicon-16x16.png'|theme}}">
        <link rel="manifest" href="{{'assets/favicons/site.webmanifest'|theme}}">
        <link rel="mask-icon" href="{{'assets/favicons/safari-pinned-tab.svg'|theme}}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
        <!-- made by www.metatags.org -->
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="metatags generator">
        
        <title>Kundoluk</title>
        
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!--  -->
        
        <!-- fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{{ [ 
          'assets/css/bootstrap.min.css',
          'assets/css/custom.css',
          'assets/css/style.css',
          'assets/animate.css/animate.min.css'

          ] |theme }}.css" rel="stylesheet">

        {% styles %}
   </head>
    <body>
        <div class="mt-header-ed header-above">
              <div class="container">
              
               <div class="row">
               
                <div class="col-lg-6 col-xl-6 col-md-12 col-12">            
                
                 #КүчБирдикте    
                </div>
                
                     <div class="col-lg-6 col-xl-6 col-md-12 col-12">
              
                  #СилаВЕдинстве  
                 </div>                        
                   </div>
              
              </div>
        </div>
        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>


        <!-- Content -->
        <div>
            {% page %}
        </div>


         <!-- core JS -->
        <script src="{{ [
          'assets/js/jquery.js',
          'assets/js/bootstrap.min.js',
          'assets/sweetalert/sweetalert.min.js'

        ] |theme }}"></script>
        {% framework extras %}
        {% scripts %}

        

        </div>

    </body>
</html>
