<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>October CMS - {{ this.page.title }}</title>


<!-- made by www.metatags.org -->
<meta name="description" content="Balayı Burada - Bütün Türkiye genelinde balayı çiftleri için en güzel şekilde geçirmesini sağlamaktır. Balayı Fırsatlarını ve Paketlerini yakalayın veya kendinize özel balayı programı yaratın." />
<meta name="keywords" content="Türkiye balayı,balayı paketleri,balayı fırsatları,balayı nerede yapılır,kapadokya balayı paketleri,fethiye balayı paketleri, balon turu dahil balayı fırsatları" />
<meta name="author" content="metatags generator">
<meta name="robots" content="index, follow">
<meta name="revisit-after" content="3 month">
<!--  -->
<meta property="og:type" content="website">
<meta property="og:site_name" content="Balayı Burada - Balayi Paket Tur Fırsatları Avantajlı Fiyatlarla">
<meta property="og:title" content="Balayı Burada - Balayi Paket Tur Fırsatları Avantajlı Fiyatlarla">
<meta property="og:image" content="">
<meta property="image_src" content="">
<meta property="og:url" content="">
<meta property="og:description" content="Balayı Burada - Bütün Türkiye genelinde balayı çiftleri için en güzel şekilde geçirmesini sağlamaktır. Balayı Fırsatlarını ve Paketlerini yakalayın veya kendinize özel balayı programı yaratın.">


<!-- core CSS -->
 <!-- fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="{{ [ 
  
  'assets/css/bootstrap.min.css',
  'assets/css/custom.css',
  'assets/css/style.css',
  'assets/rs-plugin/css/settings.css',
  'assets/sweetalert/sweetalert.min.css'

  ] |theme }}.css" rel="stylesheet">

{% styles %}
